@model LibraTech.Models.Categoria

@{
    ViewData["Title"] = "Nova Categoria";
}

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">

                <h3 class="mb-0">
                    📂 Nova Categoria
                </h3>

            </div>

            <div class="card-body">

                <form asp-action="Create">

                    <div asp-validation-summary="ModelOnly"
                         class="text-danger mb-3"></div>

                    <div class="mb-3">

                        <label asp-for="Nome" class="form-label"></label>

                        <input asp-for="Nome"
                               class="form-control"
                               placeholder="Nome da categoria" />

                        <span asp-validation-for="Nome"
                              class="text-danger"></span>

                    </div>

                    <div class="mb-4">

                        <label asp-for="Descricao"
                               class="form-label"></label>

                        <textarea asp-for="Descricao"
                                  rows="5"
                                  class="form-control"
                                  placeholder="Descrição da categoria"></textarea>

                        <span asp-validation-for="Descricao"
                              class="text-danger"></span>

                    </div>

                    <button class="btn btn-success">

                        💾 Salvar

                    </button>

                    <a asp-action="Index"
                       class="btn btn-secondary">

                        Voltar

                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}