@model LibraTech.Models.Categoria

@{
    ViewData["Title"] = "Excluir Categoria";
}

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow border-danger">

            <div class="card-header bg-danger text-white">

                <h3 class="mb-0">
                    🗑️ Excluir Categoria
                </h3>

            </div>

            <div class="card-body">

                <div class="alert alert-warning">

                    Tem certeza que deseja excluir esta categoria?

                </div>

                <dl class="row">

                    <dt class="col-sm-3">
                        Nome
                    </dt>

                    <dd class="col-sm-9">
                        @Model.Nome
                    </dd>

                    <dt class="col-sm-3">
                        Descrição
                    </dt>

                    <dd class="col-sm-9">
                        @Model.Descricao
                    </dd>

                </dl>

                <form asp-action="Delete">

                    <input type="hidden" asp-for="Id" />

                    <button class="btn btn-danger">

                        Excluir

                    </button>

                    <a asp-action="Index"
                       class="btn btn-secondary">

                        Cancelar

                    </a>

                </form>

            </div>

        </div>

    </div>

</div>